<div></div>
<div class="header">
    <h6><a href="{% url 'book_list' %}">home<i class="fa-solid fa-house" style="color: #b4b2ac;"></i></a></h6>
    <h6> <a href="{% url 'book_create' %}">create <i class="fa-solid fa-plus" style="color: #b4b2ac;"></i></a></h6>
   
 






    
        {% if user.is_authenticated %}
           <a class="datas" href="{% url 'logout' %}">Log out</a>
           <a class="datas">{{ user.username }}</a>
        {% else %} 
           <a class="datas" href="{% url 'login' %}"> Login</a>
           <a class ="datas" href="{% url 'signu' %}"> Sign up</a>
        {% endif %}


</div>
<style>
    .header .datas{
        float: right;
        padding: 0px 10px;
        margin: 10px;
    }
    .header{
        margin-bottom: 20px;
    }

</style>
