
{% extends 'base.html' %}

{% block title %}
    Books
{% endblock title %}

{% block style %}
    <style>
    body{
        background-color: rgb(163, 163, 250);
    }
    img {
            max-width: 70vh;
            padding: 10px;
        }
    </style>
{% endblock style %}

{% block content %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 style="text-align: right; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">🧁This site is for cookies🧁</h1 >
      <h3 style="text-align: right; font-family:Showcard Gothic" >On this site you can find cookies</h3>
    </div>
  </div>


  

    {% for book in books %}
        <div class="book">
            <img src="{{ book.cover.url }}" alt="">
            <a href="{% url 'book_detail' book.pk %}">
                <h1>{{ book.name }}</h1>
            </a>
            <p>{{ book.author }}</p>
            <h3>{{ book.price }}</h3>
        </div>
    {% endfor %}
    <!-- js -->
<script></script>
{% endblock content %}